<!-- ENCABEZADO -->
<header class="header">
  <div class="brand">
    <a href="#" class="title">ALQUILARTE</a>
  </div>

  <div class="nav-top">
    <nav>
      <!-- para el ingreso y registro de usuario -->
      <ul *ngIf="sesionService.getUsuario().id == 0">
        <li><a [routerLink]="['/login']">INICIAR SESION</a></li>
        <li><a [routerLink]="['/registrar']">REGISTRAR USUARIO</a></li>
      </ul>
      <!-- cuando ya se ingrese a la pagina -->
      <ul *ngIf="sesionService.getUsuario().id != 0">
        <li><a [routerLink]="['/vehiculos-add']">INGRESAR VEHICULO</a></li>
        <li><a [routerLink]="['/vehiculos']">VEHICULOS</a></li>
        <li><a [routerLink]="['/vehiculos-devolucion']">DEVOLUCION</a></li>
        <li><a id="user" [routerLink]="['/user']">USUARIO</a></li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer></footer>
