.card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-body .form-element {
  width: 48.5%;
}

/* botones */
.card-footer {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}
.card-footer button {
  width: 48.5%;
  color: #fff;
  padding: 0.5rem;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 0.2rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.btn-cancelar {
  background: var(--color-cancelar);
}
.btn-cancelar:hover {
  background: var(--color-cancelar2);
}
.btn-ingresar {
  background: var(--color-turq);
}
.btn-ingresar:hover {
  background: var(--color-brightTurq);
}
